---
import { type Tag, tags } from '$data/tags';
import { getPosts } from '$helpers/posts';
import PostCard from './PostCard.astro';

interface Props {
    filter?: Tag;
}

let posts = await getPosts();

if (tags.includes(Astro.props.filter!)) {
    posts = posts.filter((post) => post.tag == Astro.props.filter);
}
---

<div class="posts">
    {posts.map((post) => <PostCard {post} />)}
</div>

<style lang="scss">
    .posts {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;

        gap: 22px;
        width: 100%;

        margin: 12px 0px;
    }
</style>
