@import './reset.scss';
@import './theme.scss';

/* Global definitions and variables */
@media (max-width: 1200px) {
    :root {
        font-size: 8px;
    }
}

#particles {
    height: 100vh;
    max-height: 100vh;
    width: 100%;

    overflow: hidden;

    position: fixed;
    top: 0;
    z-index: -1;
}
