@import './reset.scss';
@import './theme.scss';

/* Global definitions and variables */
@media (max-width: 1200px) {
    :root {
        font-size: 6px;
    }
}

@media (max-width: 400px) {
    :root {
        font-size: 5px;
    }
}

#particles {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    z-index: -1;
}