@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    font-weight: 300;
    color: #000;
    background-color: #fbfbfb;
}
