:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;

    background-color: var(--background);
    color: var(--text);

    --text: #eee;

    --background: #212529;
    --background-light: #2b2d30;

    --text-blue: #70b9f9;
    --text-blue-highlight: #58a4e8;

    --button: #2160ec;
    --button-highlight: #3b73ed;

    --theme: #2885d6;
    --theme-hover: #3d5cf1;

    --green: #67c157;
}

a {
    color: var(--text-blue);

    transition: color 0.2s ease-in-out;

    &:hover {
        color: var(--text-blue-highlight);
    }

    &:focus {
        transition: none;
    }
}

button,
.button {
    padding: 12px 24px !important;

    background-color: var(--button);
    border: 1px solid var(--button);
    border-radius: 8px;

    color: var(--text);

    transition: 0.2s ease-in-out;

    &:hover {
        background-color: var(--button-highlight);
        border-color: var(--button-highlight);
        color: var(--text);
    }

    &:focus {
        transition: none;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #222529;
}

::-webkit-scrollbar-thumb {
    background: #57595c;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: #76787c;
}
