:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;

    color: #eee;
    background-color: #212529;

    --text: #eee;
    --background: #212529;
}

a {
    color: #70b9f9;

    transition: color 0.2s ease-in-out;

    &:hover {
        color: #58a4e8;
    }

    &:focus {
        transition: none;
    }
}

button,
.button {
    padding: 12px 24px !important;

    background-color: #2160ec;
    border: 1px solid #2160ec;
    border-radius: 8px;

    color: #eee;

    transition: 0.2s ease-in-out;

    &:hover {
        background-color: #3b73ed;
        border-color: #3b73ed;
        color: #eee;
    }

    &:focus {
        transition: none;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #222529;
}

::-webkit-scrollbar-thumb {
    background: #57595c;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: #76787c;
}
