// UI
@import 'style/ui/buttons';
@import 'style/ui/links';

// Flow
@import 'style/flow/general';
@import 'style/flow/cards';

:root {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 300;

    background-color: var(--background);
    color: var(--text);

    --text: #eee;

    --background: #1e1e1e;
    --background-light: #2b2d30;

    --text-blue: #437af1;
    --text-blue-highlight: #2160ec;

    --button: #2160ec;
    --button-highlight: #174bbb;

    --green: #67c157;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #222529;
}

::-webkit-scrollbar-thumb {
    background: #57595c;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: #76787c;
}
