---
import { type Tag, tags } from '$lib/components/posts/tags';
import { getPosts } from '$lib/posts';
import PostCard from './PostCard.astro';

interface Props {
	filter?: Tag;
}

let posts = await getPosts();

if (tags.includes(Astro.props.filter!)) {
	posts = posts.filter((post) => post.tag == Astro.props.filter);
}
---

<div class="posts">
	{posts.map((post) => <PostCard {post} />)}
</div>

<style lang="scss">
	@use 'include-media' as *;

	.posts {
		display: grid;
		grid-auto-rows: max-content;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: max-content;
		gap: 22px;

		width: 100%;
		margin: 12px 0px;

		@include media('<850px') {
			grid-template-columns: 1fr;
		}
	}
</style>
