---
import Global from '$layouts/Global.astro';
---

<Global>
    <main>
        <img src="https://http.cat/404" alt="HTTP Cat 404" />
        <a href="/">&lt; Go Home</a>
    </main>
</Global>

<style lang="scss">
    main {
        height: 100vh;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        width: 80%;
        margin: 0 auto;
    }
</style>
