---
import Global from '$lib/layouts/Global.astro';
import cat418 from '$assets/http-cat/418.jpeg';
import cat404 from '$assets/http-cat/404.png';
import { Image } from 'astro:assets';

interface Props {
	status: 404 | 418;
}

const { status }: Props = Astro.props;
---

<Global>
	<main>
		<Image
			src={status === 404 ? cat404 : cat418}
			alt={`HTTP Cat ${status}`}
			height={500}
		/>

		{status === 404 && <a href="/">&lt; Go Home</a>}
	</main>
</Global>

<style lang="scss">
	main {
		height: 100vh;
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 8px;

		width: 80%;
		margin: 0 auto;
	}
</style>
