---
import ColourGroup from '$lib/components/branding/ColourGroup.astro';
import Logo from '$lib/components/Logo.svelte';
import LogoRainbow from '$lib/components/LogoRainbow.svelte';
import { colours } from '$data/colours';
import Page from '$lib/layouts/Page.astro';
---

<Page>
    <section class="col">
        <h1>Branding</h1>
        <p>😱 You found my secret branding page!</p>
    </section>

    <section class="col">
        <h2>Colours</h2>
        <hr />

        <div class="colours">
            {colours.map((group) => <ColourGroup group={group} />)}
        </div>
    </section>

    <section class="col">
        <h2>Logos</h2>
        <hr />

        <div class="logos">
            <div class="logo">
                <Logo />
            </div>

            <div class="logo">
                <LogoRainbow />
            </div>
        </div>
    </section>
</Page>

<style lang="scss">
    .colours {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    .logos {
        display: flex;
        gap: 48px;
    }

    .logo {
        width: 160px;
    }
</style>
