---
import { faGithub, faBluesky } from '@fortawesome/free-brands-svg-icons';
import Posts from '$lib/components/posts/Posts.astro';
import Page from '$lib/layouts/Page.astro';
import { HALLOWEEN } from '$lib/vars';
import Fa from 'svelte-fa';
---

<Page>
	<section>
		<h1>
			👋{HALLOWEEN ? '🎃' : ''} Hey, I'm Willow
			<span class="aka">(aka GHOST)</span>
		</h1>

		<p>
			Checkout what I've been creating below, come chat with me on
			<a
				title="BlueSky"
				aria-label="BlueSky"
				href="https://bsky.app/profile/willow.sh"
				target="_blank"
				class="button icon muted"
			>
				<Fa size="sm" icon={faBluesky} /> BlueSky</a
			>, or poke around my
			<a
				title="GitHub"
				aria-label="GitHub"
				href="https://github.com/ghostdevv"
				target="_blank"
				class="button icon muted"
			>
				<Fa size="sm" icon={faGithub} /> GitHub
			</a>.
		</p>
	</section>

	<Posts />
</Page>

<style>
	.aka {
		opacity: 0.6;
		font-size: 0.8rem;
	}

	p {
		max-width: 500px;
		line-height: 1.4;

		a {
			display: inline-block !important;
			padding: 0px !important;
		}
	}

	section {
		margin-bottom: 48px;
	}
</style>
