---
import ProjectsList from '$lib/components/Projects.svelte';
import Page from '$lib/layouts/Page.astro';
---

<Page>
	<section>
		<h1>Projects</h1>

		<p>
			Below is a list of all my projects! My current ⭐ projects are in
			blue
		</p>
	</section>

	<section>
		<ProjectsList />
	</section>
</Page>
