---
import Projects from '$components/Projects.svelte';
import Global from '$layouts/Global.astro';
---

<Global>
    <div class="column">
        <h1>Projects</h1>
        <p>Below is a list of all my projects! My current ⭐ projects are in blue</p>
    </div>

    <Projects />
</Global>