---
import { getCollection } from 'astro:content';
import Page from '$lib/layouts/Page.astro';
import shuffle from 'just-shuffle';

const projectsCollection = await getCollection('projects');
const projects = shuffle(projectsCollection.map((p) => p.data));
---

<Page>
	<section>
		<h1>Projects</h1>

		<p>
			Below is a list of all my projects! My current ⭐ projects are in
			blue
		</p>
	</section>

	<section class="row wrap center g16">
		{
			projects.map((project) => (
				<a
					href={project.url}
					target="_blank"
					rel="noreferrer"
					class:list={['project card center', { star: project.star }]}
				>
					<h5>{project.name}</h5>
				</a>
			))
		}
	</section>
</Page>

<style lang="scss">
	.project {
		border-color: var(--background-tertiary);
		text-align: center;

		&.star {
			border-color: var(--primary);
		}
	}
</style>
