---
import Projects from '$lib/components/projects/Projects.svelte';
import { getCollection } from 'astro:content';
import Page from '$lib/layouts/Page.astro';
import shuffle from 'just-shuffle';

const allProjects = await getCollection('projects').then((data) =>
	shuffle(data.map((p) => p.data)),
);

const active = allProjects.filter((p) => !p.archived);
const archived = allProjects.filter((p) => p.archived);
---

<Page>
	<section>
		<h1>Projects</h1>

		<p>
			This list contains all of my projects, and isn't sorted very
			meaningfully yet. At the very least I've highlighted my current
			favourites in blue!
		</p>
	</section>

	<section class="row wrap center g16">
		<Projects projects={active} />
	</section>

	<section>
		<details>
			<summary>Archived</summary>

			<section class="row wrap center g16">
				<Projects projects={archived} />
			</section>
		</details>
	</section>
</Page>
