---
import Projects from '$components/Projects.svelte';
import Page from '$layouts/Page.astro';
---

<Page>
    <div class="column">
        <h1>Projects</h1>
        <p>Below is a list of all my projects! My current ⭐ projects are in blue</p>
    </div>

    <Projects />
</Page>