---
import { getCollection } from 'astro:content';
import Page from '$lib/layouts/Page.astro';
import shuffle from 'just-shuffle';

const allProjects = await getCollection('projects').then((data) =>
	shuffle(data.map((p) => p.data)),
);

const active = allProjects.filter((p) => !p.archived);
const archived = allProjects.filter((p) => p.archived);
---

<Page>
	<section>
		<h1>Projects</h1>

		<p>
			This list contains all of my projects, and isn't sorted very
			meaningfully yet. At the very least I've highlighted my current
			favourites in blue!
		</p>
	</section>

	<section class="row wrap center g16">
		{
			active.map((project) => (
				<a
					href={project.url}
					target="_blank"
					rel="noreferrer"
					class:list={['project card center', { star: project.star }]}
				>
					<h5>{project.name}</h5>
				</a>
			))
		}
	</section>

	<section>
		<details>
			<summary>Archived</summary>

			<section class="row wrap center g16">
				{
					archived.map((project) => (
						<a
							href={project.url}
							target="_blank"
							rel="noreferrer"
							class="project card center"
						>
							<h5>{project.name}</h5>
						</a>
					))
				}
			</section>
		</details>
	</section>
</Page>

<style lang="scss">
	.project {
		border-color: var(--background-tertiary);
		text-align: center;

		&.star {
			border-color: var(--primary);
		}
	}
</style>
