@import 'style/helpers/media';

card {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--background-light);
    border: 2px solid var(--background-light);
    padding: 32px;
    margin: 8px;
    border-radius: 16px;
    min-width: 500px;
    max-width: 750px;

    cursor: pointer;

    transition: 0.2s ease-in-out;

    @include media('<1000px') {
        min-width: 300px;
    }

    @include media('<640px') {
        max-width: none;
        width: 100%;
    }

    > * {
        margin: 2px 0px;
    }

    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-self: stretch;

    &:hover {
        transform: translateY(-5px);
        border: 2px solid var(--theme-hover);
    }
}
