---
import Nav from '$lib/components/Nav.svelte';
import Global from './Global.astro';
---

<Global frontmatter={Astro.props.frontmatter}>
	<Nav url={Astro.url} client:load />

	<div class="wrapper">
		<slot />
	</div>
</Global>

<style lang="scss">
	@use 'src/lib/media' as *;

	.wrapper {
		max-width: 1300px;
		margin: 0px auto;

		padding: 16px 32px;
		padding-bottom: 64px;
		padding-top: 140px;

		width: 100%;

		@include media('<750px') {
			padding-top: 130px;
		}
	}

	html,
	body {
		scroll-behavior: smooth;
		scroll-padding-top: 100px;
	}
</style>
