@use 'style/flow/general';

@mixin card {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--background-light);
    border: 4px solid var(--background-light);

    min-width: 250px;;

    padding: 32px;
    border-radius: 16px;

    transition: border 0.2s ease-in-out, transform 0.2s ease-in-out;
    
    @include general.column;
    
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 1;

    &:hover {
        transform: translateY(-5px);
        border: 4px solid var(--button-highlight);
    }
}

@mixin blue {
    background-color: var(--button);
    border-color: var(--button-highlight);

    &:hover {
        background-color: var(--button-highlight)
    }
}

card,
.card {
    @include card;

    &.blue {
        @include blue;
    }
}
