$gap: 8px;

@mixin column {
    display: flex;
    flex-direction: column;

    gap: $gap;

    &.center {
        text-align: center;
        align-items: center;
    }
}

@mixin row {
    display: flex;
    flex-direction: row;
    width: 100%;

    gap: $gap;

    &.center {
        justify-content: center
    }
}

@mixin subs {
    &.g16 {
        gap: 16px;
    }
    
    &.g32 {
        gap: 32px;
    }

    &.wrap {
        flex-wrap: wrap
    }
}

.column {
    @include column;
    @include subs;
}

.row {
    @include row;
    @include subs;
}