$gap: 8px;

@mixin column {
    display: flex;
    flex-direction: column;

    gap: $gap;

    &.center {
        text-align: center;
        align-items: center;
    }
}

.column {
    @include column;
}