---
import 'ghostsui'
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/favicon.png" />

    <!-- Meta -->
    <title>GHOST</title>
    <meta name="theme-color" content="#2885d6" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ghostdev.xyz/" />

    <!-- Privacy respecting analytics -->
    <script data-goatcounter="https://ghost.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>
</head>

<body>
    <slot />
</body>

</html>