---
import Nav from '$components/Nav.svelte';
import Global from './Global.astro';

const url = new URL(Astro.url);
---

<Global frontmatter={Astro.props.frontmatter}>
    <Nav url={url} client:load />

    <div class="wrapper">
        <slot />
    </div>
</Global>

<style lang="scss">
    @import 'src/helpers/media';

    .wrapper {
        max-width: 1300px;
        margin: 0px auto;

        padding: 16px 32px;
        padding-bottom: 64px;
        padding-top: 140px;

        width: 100%;

        @include media('<750px') {
            padding-top: 120px;
        }
    }

    html,
    body {
        scroll-behavior: smooth;
        scroll-padding-top: 100px;
    }
</style>
