---
import { Image } from 'astro:assets';

interface Props {
    name: string;
    image: string;
    slim?: boolean;
}

const { name, image, slim = false } = Astro.props;

const sponsorImages = await Astro.glob('$assets/sponsors/*').then((images) =>
    images.map((image) => image.default),
);

const src = sponsorImages.find((img) => img.src.includes(image));
if (!src) throw new Error(`Unable to find donator image "${image}"`);
---

<card class:list={['person', slim && 'slim']}>
    <Image {src} alt={`${name}'s pfp`} width="150" height="150" />

    {!slim && <hr />}

    <h4>{name}</h4>
</card>

<style lang="scss">
    .person {
        display: flex;
        flex-direction: column;

        align-items: center;
        text-align: center;

        img {
            border-radius: 100%;
            width: 150px;
            height: 150px;
        }

        &.slim img {
            width: 50px;
            height: 50px;
        }

        hr {
            border-color: var(--background-secondary);
        }

        &.slim {
            flex-direction: row;

            padding: 18px;

            img {
                width: 50px;
            }
        }
    }
</style>
